.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, #header {
  font-family: 'Lato', sans-serif;
}
body {
  background-image: url(img/circuit.png);
  background-size: 100%;
}

h1 {
  color: white;
  background-color: #6c757d;
  margin-bottom: 0;
  border-top: gray 1px solid;
}
.container {
  margin-top: 50px;
}

footer .container {
  margin-top: 0;
}

footer {
  bottom: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid gray;
  text-align: center;
  color:  rgb(186, 186, 186);
  background-color: #353535;
}

#header {
  /* background-image: url(img/comms.png); */
  width: 100%;
  height: 200px;
  background-size: cover;
  
}


a{
  text-decoration: none;
  color: black;
}
.tuotteet {
  display: inline;
}

.vasen-pohja {
  display: inline;
}

.oikea-pohja {
  margin-left: 9em;
  display: inline-block;
  text-align: right;
}

.footerlink {
  color: rgb(186, 186, 186);
  display: block;
  margin-top: 1em;
}

.tuotekuva {
  max-width: 250px;
}

.color-nav {
  background-color: #6c757d;
}

.navbar-dark .navbar-nav .nav-link {
  color: whitesmoke;
  padding: 1em;
}

.nav-link:hover {
  background-color: #767f86;
}

.commslogo {
  height: 130px;
  width: 275px;
  margin-bottom: 5px;
}