.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, #header {
  font-family: 'Lato', sans-serif;
}
body {
  background-image: url(img/backdrop-874452.jpg);
  background-size: 100%;
}

h1 {
  color: white;
  background-color: #6c757d;
  margin-bottom: 0;
  border-top: gray 1px solid;
}
.text {
  color: white;
  background-color: #6c757d;
  margin-bottom: 0;
}
.container {
  margin-top: 50px;
}

footer .container {
  margin-top: 0;
}

footer {
  bottom: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid gray;
  text-align: center;
  color:  rgb(186, 186, 186);
  background-color: #474747;
}

#header {
  /* background-image: url(img/comms.png); */
  width: 100%;
  height: 200px;
  background-size: cover;
  
}


a{
  text-decoration: none;
  color: black;
}
.tuotteet {
  display: inline;
}

.vasen-pohja {
  display: inline;
}

.oikea-pohja {
  display: inline-block;
  text-align: center;
  
}

.footerlink {
  color: rgb(186, 186, 186);
  display: block;
  margin-top: 1em;
}

.tuotesivukuva {
  max-width: 350px;
  display: inline-block;
}

.tuotedesc {
  text-align: right;
}

.color-nav {
  background-color: #6c757d;
}

.navbar-dark .navbar-nav .nav-link {
  color: whitesmoke;
  padding: 1em;
}

.nav-link:hover {
  background-color: #767f86;
}

.commslogo {
  height: 130px;
  width: 275px;
  margin-bottom: 5px;
}

.blackcolor {
  color: black;
}

/* @media (max-width: 720) {
.commslogo {
    height: 90px;
    width: 220;
}
} */
.red:hover {
  color: red;
}
.lightblue:hover {
  color: rgb(0, 191, 255);
}

.btn-own {
    color: #fff;
    background-color: #00af34;
    border-color: #005f33;
}
.grey {
  background-color: grey;
}
.txtwhite {
  color: white;
}

.priceinfo {
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 20px;
  padding-bottom: 2px;
  border: 1px solid #ccc;
  background: #f6f6f6;
}

.pricebackground {
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  background-color: rgb(223, 223, 223);
}

.lisäinfo {
  font-size: 14px;
}

.right {
  float: right;
}

.btn-warning:hover {
  color: #000;
  background-color: #b48906;
  border-color: #b48906;
}


.yläosa {
  height: 410px;
}

.kommenttitausta {
background-color: #cecece;
}

.käyttäjä {
  text-align: center;
  margin: 1px;
}

.titlecolor {
  border-radius: 5px;
  padding-left: 4px;
  background-color: rgb(57, 197, 132);
}

/* Pystysuora viiva */
.vr {
  height: 100%;
  width: 0.5px;
  border-left: 1px solid gray;
  /*display: inline-block;*/    
  /*margin: 0 auto;*/
}

.tuotekuva {
  width: 250px;
  height: 240px;
}

.tuotekuva-tili {
  width:150px;
  height: 140px;
}

.cartbackground {
  background-color: #f6f6f6;
  padding-right: 5px;
  padding-left: 5px;
}
/* .cartbackground:nth-child(even) {
  background-color: #f6f6f6;

} */
.cartbackground:nth-child(odd) {
  background-color: #adadad;
  padding-right: 5px;
  padding-left: 5px;

}
.carttext {
  color: #000;
}

ul {
  list-style: none;
}

ul div h1 {
  background-color: initial;
  border-top: 0px ;
}

.imgborder {
  border: 0.5px solid black;
}

/* OMA FROM-CONTROL (VÄRI KELTAINEN, AINOA MUUTOS) */
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #fff782 !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 238, 0, 0.438) !important;
}

.btn-warning {
  border-color: #946f00 !important;
}


/* UUSIA KORTTEJA */

/* .card {
  width: 13.75rem !important;
  width: 14rem !important;
  height: 24rem !important;
}

.tuotekuva {
  width: 100px;
  height: 90px;
} */

.productdestext {
  font-size: 12px;
}

.cartproductinfo {
  font-size: 0.9em;
}
.cartprodcutprice {
  font-size: 1.2em;
}
.cartimage {
  width: 60px;
  height: 60px;
}

.flowright{
  float: right;
}

.productpriceinfo {
  border-radius: 4px;
  padding-top: 5px;
  border: 1px solid #ccc;
  background: #f6f6f6;
}
.discount {
  color: red;
  font-weight: 700;
}

.percent {
  font-weight: 700;
  background-color: rgb(255, 194, 81);
  margin-right: 30px;
  margin-left: 30px;
}

.price {
  font-weight: 700;
}

.footer-text {
  color: rgb(0, 0, 0);
  font-size: 20px;
}

/* .cardpricebackground {
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #f6f6f6;
} */

.inline {
  display: inline;
}

.error-in-register {
  background-color: rgb(255, 155, 155);
  border: red;
  border-radius: 5px;
  padding-left: 10px;
}